@import url(style-id.css);

body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    margin: 20px;
    padding: 0;
   /* background:url(http://www.htmldog.com/badge1.gif) repeat-y top left, url(butterfly.gif) repeat-y top right;
    background-origin: border-box;*/
}

/* This is a comment, by the way */

    
p {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: 1px black solid;
    border-width: 1px 5px 5px 1px;
    border-color: red green blue yellow;
    margin: 10px 50px;
    
    text-shadow: -2px 2px 2px #999;


}

p:first-letter {
    font-size: 24px;
    float: left;
}

p:first-line {
    font-weight: bold;
}



h1 {
    color: #ffc;
    background-color: #900;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;
}

h2 {
    color: white;
    background-color: #090;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: #999;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}
 a {
    display: block;
    padding: 20px 10px;
}
 a{
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #900;
    font-style: italic;
}

table {
    background-color: #ccc;
  
}



#top {
    background-color: hsl(160, 50%, 60%);
    padding: 20px
}

.intro {
    color: red;
    font-weight: bold;
}

a:link {
    transition: color .5s font-size .15s linear 5s; /*it doesnt work*/
    color: blue;
}

a:visited {
    color: purple;
}

a:active {
    color: red;
}

a:hover {
    text-decoration: none;
    color: hsl(140, 60%, 30%);
    background-color: yellow;
}

input:focus, textarea:focus {
    background: #eee;
}


@media screen, print, projection{
 body {
        font-size: 10pt;
        font-family: times, serif;
    }

    #navigation {
        display: none;
    }
}

a:link[href^=http]{color:purple;}

table >td {border: 1px solid black}